// Place all the styles related to the admin/author controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table {
  border: 1px solid black;
  // width: 40rem;
  background-color: rgb(195, 195, 195);

  th {
  border: 1px solid black;
    // background-color: green;
  }

  td {
  border: 1px solid black;
    // background-color: blue;
  }
}
