<p><%= link_to "Search", action: "search" %></p>

<%= render(partial: "books") %>

<div>
  <% if @book_pages > 0 %>
    <%= link_to 'Previous page', catalog_index_path(page: @book_pages - 1) %> |
  <% end %>
  <%= link_to 'Next page', catalog_index_path(page: @book_pages + 1) %>
</div>

