/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-size: 3rem;
}

button {
  cursor: pointer;
}

#notice {
  padding: 5px;
  background-color: #96ff88;
}

#header {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 3rem;
}

#menu {
  display: flex;
  justify-content: center;
  border: 1px solid #730e15;
  background-color: #58a986;
}

#menu a {
  text-decoration: none;
  color: brown;
  border: 1px solid #730e15;
  padding: 10px 20px;
  background-color: antiquewhite;
  width: 15rem;
  text-align: center;
}

#menu li {
  display: flex;
  justify-content: space-around;
  width: 50rem;
}

#menu ul {
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  list-style: none;
  max-width: 101rem;
  padding: 3rem;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  font-size: 3rem;
  padding: 0 6rem;
}
