/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/

@use "about";
@use "cart";
@use "catalog";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-color: #1f3041;
}

main {
  max-width: 1120px;
  background-color: white;
  margin: 0 auto;
  display: flex;
  min-height: 100vh;
}

#main-content {
  width: 100%;
}

header {
  display: flex;
  padding: 1rem;
  justify-content: space-evenly;

  #header {
    align-content: center;
  }

  form {
    align-content: center;
  }

  #hamburger-menu {
    align-content: center;

    .line {
      padding: 1.5px;
      width: 3rem;
      border: 2px solid white;
      background-color: black;
    }
  }

  #cart-icon {
    width: 3rem;
    cursor: pointer;
  }
}

#logo {
  font-size: 1rem;
}

#notice {
  padding: 5px;
}

#header {
}

#menu {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#menu ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 1rem;
}

#menu li {
  display: flex;
  justify-content: space-around;
}

#menu a {
  border: 1px solid #cdcdcd;
  padding: 10px 20px;
  text-align: center;
  box-shadow: -5px 5px 1px 1px rgba(0, 0, 0, 0.3);
}

#footer {
  margin: 0 auto;
  max-width: 1120px;
  text-align: center;
  padding: 0 6rem;
  border-top: 1px solid black;
  background-color: white;
}

@media only screen and (min-width: 1035px) {
  #hamburger-menu {
    display: none;
  }
}

@media only screen and (max-width: 1035px) {
  #cart-icon {
    width: 3rem !important;
  }

  #menu {
    display: none;
  }

  #content {
    border-top: 1px solid black;

    h1 {
      color: brown;
      font-size: 3rem;
    }
  }

  #footer {
    font-size: 2rem;
  }
}
