/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/

@use "about";
@use "cart";
@use "catalog";
@use "./admin/author";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
}

main {
  max-width: 1120px;
  background-color: white;
  margin: 0 auto;
  display: flex;
  min-height: 100vh;
}

#main-content {
  width: 100%;
}

header {
  background-color: #1699b5;

  #header-wrapper {
    max-width: 1120px;
    margin: 0 auto;
  }

  #header {
    display: flex;
    padding: 1rem 5px;

    #logo {
      font-size: 1.5rem;
      align-content: center;
    }

    #nav-searchbox-icon-menu {
      width: 100%;

      #nav-searchbox-hamburgermenu-icon {
        display: flex;
        justify-content: end;
      }
    }
  }

  form {
    align-content: center;

    input {
      padding: 5px;
    }
  }

  #hamburger-menu {
    align-content: center;

    .line {
      padding: 1.5px;
      width: 3rem;
      border: 2px solid white;
      background-color: black;
    }
  }

  #cart-icon {
    width: 3rem;
    cursor: pointer;
    margin: 0 4rem 0 1rem;
  }
}



#notice {
  padding: 5px;
}

#menu {
}

#menu ul {
  display: flex;
  justify-content: end;
  list-style: none;
  padding: 1rem;
}

#menu li {
  background-color: white;
  margin: 0 3rem;
  padding: 1rem 2rem;
  border: 1px solid #cbcbcb;
  box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.3); 
}

#menu a {
  font-size: 14px;
}

#footer {
  margin: 0 auto;
  text-align: center;
  padding: 2rem 6rem;
  border-top: 1px solid #cbcbcb;
  background-color: white;
  font-size: 2rem;
  color: #000000;
}

@media only screen and (min-width: 1035px) {
  #hamburger-menu {
    display: none;
  }
}

@media only screen and (max-width: 1035px) {
  header #cart-icon {
    margin: 0;
  }

  #hamburger-menu {
    position: relative;
    right: 5px;

    .line {
      padding: 1px !important;
      border: 3px solid #1699b5 !important;
    }
  }

  form {
    position: relative;
    right: 1rem;
  }

  #nav-searchbox-icon-menu {
    align-content: center;
  }

  #cart-icon {
    width: 3rem !important;
  }

  #logo {
    font-size: 10px !important;
  }

  #menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    background-color: white;

    ul {
      flex-direction: column-reverse;

      li {
        margin: 7px 0;
      }
    }
  }

  #content {
    border-top: 1px solid black;

    h1 {
      // font-size: 2em;
    }
  }

  #footer {
    font-size: 2rem;
  }
}
