// Place all the styles related to the Cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#shopping_cart {
  border-left: 3px solid #666;
  background: lightslategray;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 100%;
  text-align: center;
  color: white;

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
  }

  li {
    display: flex;
    flex-direction: column;
    border: 10px solid lightgray;
    padding: 10px 0;
    background-color: aliceblue;
    color: black;
    font-size: 1.5rem;
    max-width: 90%;
    margin: 1rem auto;


    button {
      background-color: #B2FFD3;
      padding: .5rem;
      margin-top: 15px;
    }
  }

  h3 {
    padding-top: 2rem;
  }
}

#cart_notice {
  border: 2px solid #58A986;
  background: #B2FFD3;
  padding: 2rem;
  color: #666666;
}

.clear_cart {
  background-color: #cc0000;
  padding: .5rem;
  color: white;
  width: 30%;
  height: 3rem;
  margin: 1rem 0;
}
