// Place all the styles related to the Cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#shopping_cart {
  border: 1px solid black;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 100%;
  text-align: center;
  color: black;
  background-color: white;

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
  }

  li {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px 0;
    color: black;
    font-size: 1.5rem;
    max-width: 90%;
    margin: 1rem auto;


    button {
      padding: .5rem;
      margin-top: 15px;
    }
  }

  h3 {
    padding-top: 2rem;
  }
}

#cart_notice {
  border: 1px solid black;
  padding: 2rem;
  color: #666666;
}

.clear_cart {
  padding: .5rem;
  color: #000000;
  width: 30%;
  height: 3rem;
  margin: 1rem 0;
}
