// Place all the styles related to the Catalog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#content {
  display: flex;
  flex-direction: column;
  text-align: center;

  h1 {
    //margin:  0 0 0 52rem;
  }
}

#books {
  display: flex;
  justify-content: center;
  //margin:  0 0 0 12rem;
  list-style: none;
}

.book {
  float: left;
  border: 4px solid #ccc;
  background-color: #fff;
  margin: 3rem;
  padding: 5px;
  cursor: pointer;
  box-shadow: -11px 14px 6px 0px rgba(0,0,0,.5);
  min-width: 35rem;
}

.add_to_cart {
  text-decoration: none;
}
