// Place all the styles related to the Catalog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#books {
  display: flex;
  list-style: none;
}

.book {
  float: left;
  border: 4px solid #ccc;
  background-color: #fff;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

#content {
  display: flex;
  flex-direction: column;
}

.add_to_cart {
  text-decoration: none;
}

#menu {
  border: 1px solid #730E15;
  background-color: #58A986;
}

#menu a {
  text-decoration: none;
  color: brown;
  border: 1px solid #730E15;
  padding: 10px 20px;
  background-color: antiquewhite;
  width: 15rem;
  text-align: center;
}
