// Place all the styles related to the Catalog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#content {
  display: flex;
  flex-direction: column;
  text-align: center;

  h1 {
    margin: 1rem 0;
  }

  a {
    font-size: 17px;
  }
}

#books {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  flex-wrap: balance;

  button {
    margin: 1rem 0;
    color: black;
    padding: 1rem;
  }
}

.book {
  border: 1px solid #cdcdcd;
  margin: 2rem;
  padding: 1rem;
  cursor: pointer;
  box-shadow: -11px 14px 6px 0px rgb(87 97 123 / 50%);
  min-width: 24rem;
  height: 30rem;
}

// Responsive design for mobile devices
@media only screen and (max-width: 844px) {
  #books {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 400px) {
  .book {
    min-width: 24rem;
  }
}
